/* Generali */

/* Importo il font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


.bg-darkblue {
    background-color: #2c3e50;
}

.bg-lgreen{
    background-color:#1ABC9C;
}

.img_box{
    width: 200px;
    height: 200px;
}

.test{
    display:inline;
}

/* Generali */

/* Navbar */

header > .container-fluid {
    
    position: fixed;
    top: 0;
    right: 0;
}

a.nav-link,
.light-title{
    text-transform: uppercase;
    font-weight: bolder;
    color:white;
}

.light-title{
    font-size: 18px;
}

/* Navbar */

/* Debug */
/* Jumbotron */



main.debug #jumbotron > .row {
    min-height: 500px;
    min-width: 500px;
    
}

main.debug .box {
    min-height: 50px;
    min-width: 50px;
    background-color: lime;
    margin-top: 10px;
}

main.debug .jumbo {
    display:flex;
    flex-direction: column;
    
}

/* /Jumbotron */
/* Portfolio */

main.debug #portfolio {
    min-height: 500px;
    min-width: 500px;
    background-color: green;
}
main.debug #portfolio > .row {
   width:80%;
    margin: 30px auto;
}


/* /Portfolio */

/* About me */

main.debug #about {
    /* min-height: 175px;
    min-width: 250px; */
    padding: 5px ;
    background-color:purple;
}

footer .footer-top{
    background-color: darkblue;
}

footer .footer-bottom{
    background-color: blue;
}

footer .box{
    min-height: 50px;
    min-width: 50px;
    background-color: lime;
    margin: 5px 5px;
}
