/* Generali */

/* Importo il font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


.bg-darkblue {
    background-color: #2c3e50;
}

.bg-lgreen {
    background-color: #1ABC9C;
}

.img_box {
    width: 200px;
    height: 200px;
}


/* Generali */

/* Navbar */

header>.container-fluid {

    position: fixed;
    top: 0;
    right: 0;
}

a.nav-link,
.light-title {
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
}

.light-title {
    font-size: 18px;
}

/* Navbar */

/* Portfolio */

.portfolio-item {
    position: relative;
    height: 200px;
    width: 300px;
}

.portfolio-item img {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.portfolio-item .cross {
    transition:  ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:40px;
    text-align: center;
}

.portfolio-item:hover .cross{
    opacity:1;
}

/* Hover Overlay */

.portfolio-item:hover img {
    opacity: 0.3;
}


/* About me */

#about-me p {
    color:white;
    
}

#about-me button {
    color:white;
    border: 1px white solid;
}


/* Debug */
/* Jumbotron */



main.debug #jumbotron>.row {
    min-height: 500px;
    min-width: 500px;

}

main.debug .box {
    min-height: 50px;
    min-width: 50px;
    background-color: lime;
    margin-top: 10px;
}

main.debug .jumbo {
    display: flex;
    flex-direction: column;

}

/* /Jumbotron */
/* Portfolio */
/* 
main.debug #portfolio {
    min-height: 500px;
    min-width: 500px;
    background-color: green;
} */
/* main.debug #portfolio>.row {
    width: 80%;
    margin: 30px auto;
} */


/* /Portfolio */

/* About me */



footer .footer-top {
    background-color: darkblue;
}

footer .footer-bottom {
    background-color: blue;
}

footer .box {
    min-height: 50px;
    min-width: 50px;
    background-color: lime;
    margin: 5px 5px;
}