* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


/* Navbar */

nav {
    background-color: darkblue;
}


/* Debug */

main.debug .logo-name{
    min-height: 70px;
    min-width:90px;
    background-color: orange;
}

main.debug .list-item{
    min-height: 70px;
    min-width:70px;
    background-color: red;
    margin-right:5px;
}

main.debug #jumbotron.row {
    min-height: 500px;
    min-width: 500px;
    background-color: red;
}

main.debug .box {
    min-height: 50px;
    min-width: 50px;
    background-color: lime;
    margin-top: 10px;
}

main.debug .jumbo {
    display:flex;
    flex-direction: column;
    
}

/* /Jumbotron */
/* Portfolio */

main.debug #portfolio {
    min-height: 500px;
    min-width: 500px;
    background-color: green;
}
main.debug #portfolio > .row {
   width:80%;
    margin: 0 auto;
}

main.debug #portfolio > .row .box {
    /* height: 50px;
    width: 50px; */
    background-color:lime;
    
}
/* /Portfolio */

/* About me */

main.debug #about {
    /* min-height: 175px;
    min-width: 250px; */
    padding: 5px ;
    background-color:purple;
}

footer .footer-top{
    background-color: darkblue;
}

footer .footer-bottom{
    background-color: blue;
}

footer .box{
    min-height: 50px;
    min-width: 50px;
    background-color: lime;
    margin: 5px 5px;
}
