* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


/* Navbar */

header > .container-fluid {
    background-color: #00008B;
    position: fixed;
    top: 0;
    right: 0;
}

.navbar a{
    text-transform: uppercase;
    font-weight: bold;
    color:white;
}


/* Debug */
/* Jumbotron */

main.debug #jumbotron {
    background-color: red;
}




main.debug #jumbotron {
    background-color: red;
}

main.debug #jumbotron > .row {
    min-height: 500px;
    min-width: 500px;
    
}

main.debug .box {
    min-height: 50px;
    min-width: 50px;
    background-color: lime;
    margin-top: 10px;
}

main.debug .jumbo {
    display:flex;
    flex-direction: column;
    
}

/* /Jumbotron */
/* Portfolio */

main.debug #portfolio {
    min-height: 500px;
    min-width: 500px;
    background-color: green;
}
main.debug #portfolio > .row {
   width:80%;
    margin: 30px auto;
}


/* /Portfolio */

/* About me */

main.debug #about {
    /* min-height: 175px;
    min-width: 250px; */
    padding: 5px ;
    background-color:purple;
}

footer .footer-top{
    background-color: darkblue;
}

footer .footer-bottom{
    background-color: blue;
}

footer .box{
    min-height: 50px;
    min-width: 50px;
    background-color: lime;
    margin: 5px 5px;
}
